<% form_for(@participant) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :lighthouse_id, 'Lighthouse ID' %><br />
    <%= f.text_field :lighthouse_id %>
  </p>
  <p>
    <%= f.label :github_id, 'GitHub ID' %><br />
    <%= f.text_field :github_id %>
  </p>
  <p>
    <%= f.submit 'update profile' %>
  </p>
<% end %>
