<% form_for(@participant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :lighthouse_id %><br />
    <%= f.text_field :lighthouse_id %>
  </p>
  <p>
    <%= f.label :github_id %><br />
    <%= f.text_field :github_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to_if(signed_in?, 'sign out', signout_path, :method => :delete) {} %>
