<% content_for :sidebar do %>
  <p>
    Recent Activity:
  </p>
  <ul>
    <% @latest_contributions.each do |contribution| %>
      <li><%= link_to(contribution.participant.name, contribution.participant) %> [<%= contribution.point_value %>] <em><%= time_ago_in_words(contribution.created_at)  %></em></li>
    <% end %>
  </ul>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= link_to(h(participant.name), participant) %></td>
    <td><%= participant.score %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @participants %>
