<p>
  <b>Email:</b>
  <%=h @participant.email %>
</p>

<p>
  <b>Name:</b>
  <%=h @participant.name %>
</p>

<p>
  <b>Lighthouse:</b>
  <%=h @participant.lighthouse_id %>
</p>

<p>
  <b>Github:</b>
  <%=h @participant.github_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>