<table>
  <% @trackers.each do |tracker| %>
    <tr>
      <td><%= tracker.saved_entry.author %> [<%= tracker.id %>]</td>
      <td><%= tracker.saved_entry.title %></td>
      <td><%= truncate(tracker.saved_entry.content, :length => 100) %></td>
    </tr>          
  <% end %>
</table>
<%= will_paginate @trackers %>
