<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>August 2009 BugMash</title>
    <%= stylesheet_link_tag 'screen' %>
    <!--[if IE]>
        <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen">
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, :class => "flash flash_#{key}" %>
      <% end %>
    <% end %>
    
    <div id="header">
      <h1>August 2009 BugMash</h1>
      <ul id="nav">
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'problem?', new_issue_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'contributions', contributions_path %></li>
          <li><%= link_to 'issues', issues_path %></li>
          <li><%= link_to 'leave', signout_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
    
    <div id="content" class="<%= controller_name.downcase %>">
      <%= yield %>
    </div>

    <div id="sidebar">
      
      <%= yield :sidebar %>

      <p>links</p>
      <ul>
        <li>
          <a href="http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMashFlowchart" title="BugMash instructions">
            Instructions
          </a>
        </li>
        <li>
          <a href="http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMash" title="BugMash Wiki">Wiki</a>
        </li>
      </ul>
    </div>

    <p id="footer">
      &copy; 2009 <a href="http://railsbridge.org">RailsBridge, Inc</a>. All Rights Reserved. | <a href="http://rubyonrails.org">Ruby on Rails</a> is a trademark of David Heinemeier Hansson
    </p>
  </body>
</html>
